<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('homepage') }}">Home</a>
        </div>
        <ul class="nav navbar-nav">
            {% if is_granted('ROLE_ADMIN') %}
                <li class="navbar-text "> Hello {{ app.user.userName}} </li>
                <li class="pull-right" ><a href="{{ path('admin_logout') }}">Déonnexion</a></li>
            {% else %}
                <li class="pull-right" ><a href="{{ path('admin_login') }}">Connexion Admin</a></li>
            {% endif %}
            {% if is_granted('ROLE_AUTHOR') %}
                <li class="navbar-text"> Hello {{ app.user.firstName }} </li>
                <li><a href="{{ path('author_logout') }}">Déonnexion</a></li>
            {% else %}
                <li><a href="{{ path('author_login') }}">Connexion Author</a></li>
            {% endif %}
            <li><a href="{{ path('author_registration') }}">Inscription</a> </li>
        </ul>
    </div>
</nav>