{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des thèmes</h1>

    <div class="table-responsive">
        <table class="table ">
            <tbody>
            {% for theme in themeList %}
                <tr class="alert alert-success">
                    <td>
                        <a href="{{ path('theme_details', {'slug': theme.slug}) }}">
                            {{ theme.name }}
                        </a>
                    </td>
                    <td class="badge badge-default badge-pill pull-right">{{ theme.numberOfPosts }} posts</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block aside %}
    <h3>Les Postes par années</h3>

    <ul class="list-group">
        {% for item in PostsGroupByYear %}
            <a href="{{ path('post_by_year', {'year': item.yearPublished}) }}">
                <li class="list-group-item justify-content-between"> {{ item.yearPublished }}
                    <span class="badge badge-default badge-pill pull-right">{{ item.numberOfPosts }} </span>
            </li></a>

        {% endfor %}
    </ul>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/ivoryckeditor/ckeditor.js') }}"></script>
{% endblock %}


