{% extends "base.html.twig" %}

{% block body %}
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('homepage') }}">Liste des thèmes</a>
        </li>
        <li><a href="{{ path('theme_details', {'slug': post.theme.slug}) }}">
                {{ post.theme.name }}
            </a>
        </li>

    </ol>

    <h1>{{ post.title }}</h1>

    <p>par {{ post.author.name }} le {{ post.createdAt | date('d/m/Y') }}</p>

    <p>{{ post.text | purify }}</p>

    {% if post.imageFileName %}
        <div class="row">
            <div class="col">
                <img src="{{ asset( 'uploadedFiles/' ~ post.imageFileName) }}"
                     class="img-responsive img-rounded img-fluid">
            </div>
        </div>

    {% endif %}

    <hr>
    <h2>Les réponses ({{ post.answers | length }})</h2>

    <div class="col-md-6 col-md-offset-3">
        <h3 class="text-center">Nouvelle réponse</h3>
    </div>

    {% for answer in post.answers %}

        <div class="col-md-8 col-md-offset-2 list-group">
            <div class="row">
                <a href="{{ path('answer_vote', {'id': answer.id}) }}">Voter</a>
            </div>
            <p class="list-group-item list-group-item-action flex-column align-items-start active">
                <span class="glyphicon glyphicon-user"></span> {{ answer.author.name }} {{ answer.author.firstName }}
                <small class="pull-right"><span
                            class="glyphicon glyphicon-calendar "></span> {{ answer.createdAt | date('d/m/Y') }}</small>
            </p>

            <div class="d-flex w-100 justify-content-between">
                <p class="mb-1">
                    {{ answer.text }}
                </p>
            </div>
        </div>
    {% endfor %}


    {% if is_granted(['ROLE_ADMIN','ROLE_AUTHOR']) %}
        <div class="col-md-8 col-md-offset-2 list-group">
            <div class="d-flex w-100 justify-content-between">
                <p class="mb-1">
                </p>
                <p>{{ form(answerForm) }}</p>
            </div>
        </div>

    {% else %}
        <div class="col-md-8 col-md-offset-2 list-group">
            <div class="d-flex w-100 justify-content-between">
                <p class="mb-1">Veuillez vous connecter pour repondre
                    <button type="button"><a href="{{ path('author_login') }}"> Connexion</a></button>
                </p>
            </div>
        </div>




    {% endif %}


{% endblock %}